*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins',sans-serif;
}
body{
  overflow-x: hidden;
}

/**************************************
===== h1,h2,h3,h4,h5,h6 font size  ====
**************************************/
a{
  text-decoration: none;
  color: #000;
}
a:hover{
  color: #000;
}
h1{

}
h2{
  font-size: 40px;
  font-weight: 500;
}
h3{
  font-size: 30px;
  font-weight: 600;
}
h4{
 font-size: 24px;
 font-weight: 500;
}
h5{
 font-size: 16px;
 font-weight: 500;
}
h6{
  /* font-size: 15px;
  font-weight: 500; */
}

small{
  font-size: 12px;
}
.fs10{
  font-size: 10px;
}
/* display */

.dnone {
  display: none;
}
.cursor {
  cursor: pointer;
}
/* Color Code */ 
.cl-lpink {
  color : #FF8991
}
.cl-green {
  color: #78C2A4;
}
.cl-pm{
  color: #380E86;
}
.bg-cl-pm{
  background-color: #380E86;
}
.bg-cl-grey{
  background-color: #95A0B0;
}
.bg-cl-grey2{
  background-color:#F3F8FF;
}
.bg-cl-green{
  background-color: #78C2A4;
}
.color-yellow {
  color: #FBC56D;
}
.color-grey {
  color:#a3adc0;
}
.color-green {
  color:#78C2A4;
}
.color-white {
  color:white;
}
.color-span{
  color: #95A0B0;
}


/* Modal button*/

.btnModalYes{
  height: 45px;
  background: #78C2A4;
  border-radius: 10px;
  border: none;
}
.btnModalNo{
  height: 45px;
  background: #E64D58;
  border-radius: 10px;
  border: none;
}

/* Bookmark Toggle */
.bookmark {
  height: 36px;
  padding-left: 0;
  list-style: none;
  color: #98A6C0;
  cursor: pointer;
}

.bookmark i{
  font-size: 18px;
  line-height: 35px;
  
}

.bookmark p{
  display: block;
  height: 36px;
  width: 36px;
  text-align: center;
  background: white;
  border-radius: 25%;
  text-decoration: none;
  border: 1px solid rgb(192, 184, 184);
}

.toggle-pressed {
  color:red ;
}

.click-icon{
  position: absolute; 
  margin: 10px;
}


/****************************************
=============BreadCrumb================
***************************************/
.sc-breadcrump {
  height: 60px;
  background-color: #E7E7E7;
}
.sc-breadcrump .breadcrumb-item a:hover{
  color: #380E86;
}
/**************************************
= end of h1,h2,h3,h4,h5,h6 font size  =
**************************************/

/*************************
      Sign Up Log In
**************************/

/*********
      Otp Verification
**********/
/* .otpContentInput{
	display: flex;
} */

.otpContentInput input{
	margin: 0px 10px 10px 0px;
	height: 65px;
	width: 55px;
	border: 1px solid rgb(202, 200, 200);
  color:#380E86;
	border-radius: 5px;
	text-align: center;
	font-size: 1.2rem;
	background: transparent;
  outline: none;

}
.otpContentInput input:focus {
  border: 1px solid #380E86 !important;
}
/* .otpContent button {
  padding: 10px 25px;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
  will-change: opacity;
  border-radius: 10px;
} */
/* .otpContent .btn-anchor:focus {
  outline: none !important;
} */
.signUpcongratulationsLeft{
  width: 25%;
  height: 100vh;
  background-image: url(../Assets/Images/signUp/SignUpBg.png);
  background-position: center;
  background-size: cover;
}

.signUpcongratulationLeftContent img{
  height: 128px;
}

.signUpCongratulationRight{
  width: 75%;
  height: 100vh;
  position: relative;
}
.SCRCI{
  width: 153px;
  height: 153px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 6px rgb(187, 185, 185);
}
.SCRCI2{
  width: 90px;
  height: 90px;
  background: rgba(56, 14, 134, 0.1);
  box-shadow: none;
}
.SCRCI i{
  font-size: 40px;
}
.signUpcongratulationRightContent button{
  height: 45px;
  width: 315px;
  border: none;
  border-radius: 10px;
}
.signUpBack{
  position: absolute;
  top: 10%;
  left: 10%;
}
.forgetPassContent{
  position: absolute;
  top: 40%;
  left: 30%;
}
.signInContent{
  position: absolute;
  top: 20%;
  left: 20%;
}

.signUpcongratulationRightContent .btn1{
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 10px;
}

.signUpcongratulationRightContent input{
  width: 400px;
  height: 50px;
  background: #F6F7F9;
  border-radius: 10px;
  border: none;
  outline: none;
}
.singUpInput input{
  width: 288px;
}
.signUpcongratulationRightContent input:focus{
  border: 0.5px solid #380E86;
}

.form-check input{
  height: 18px;
  width: 18px;
}

.btnfacebook{
  background: #345178;
}
.btngoogle{
  background: #EF4536;
}

/*************************
      Top Header Start 
**************************/

.topHeader {
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
}

.iconSize {
  line-height: 1.5 !important;
}

.br::after {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 50px;
  opacity: 0.5;
  background: #7236E2;
}

/* Language Button toggle start */

.switch {
  position: relative;
}

.switch>span {
  position: absolute;
  top: 2px;
  pointer-events: none;
  font-weight: bold;
  font-size: 12px;
  text-shadow: 0 1px 0 rgb(0 0 0 / 6%);
  width: 50%;
  text-align: center;
}

input.check-toggle-round-flat:checked~.off {
  color: #fff;
}

input.check-toggle-round-flat:checked~.on {
  color: #380E86;
}

.switch>span.on {
  left: 0;
  color: #fff;
}

.switch>span.off {
  right: 0;
  color: #380E86;
}

.check-toggle {
  position: absolute;
  visibility: hidden;
}

.check-toggle+label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.check-toggle-round-flat+label {
  width: 61px;
  height: 22px;
  background-color: white;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}

input.check-toggle-round-flat+label:before,
input.check-toggle-round-flat+label:after {
  display: block;
  position: absolute;
  content: "";
}

input.check-toggle-round-flat+label:after {
  top: 0px;
  bottom: 0px;
  width: 32px;
  background-color: #6C63FF;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 50px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}

input.check-toggle-round-flat:checked+label:after {
  margin-left: 30px;
}

/* Language Button toggle end */


/* Top Header End */
/* Middle Header Start*/
.middleHeader {
  height: 76px;
  display: flex;
  align-items: center;
}

.middleHeader-content .btn1 {
  background-color: #F2F2F2;
}

.middleHeader-content .btn2 {
  background-color: white;
}

.btn3 {
  color: white;
}
.btn3:hover{
  background-color: #380E86;
  color: white;
}
/* Middle Header End*/
/* Bottom Header Start */
.bottomHeader {
  background-color: #F2F2F2;
  height: 5%;
  display: flex;
  align-items: center;
}

.tex {
  /* width: 100%; */
  /* position: absolute; */
  font-size: 20px;
  padding: 9.5% 14%;
  background-color: rgb(255, 255, 255);
}
.mr {
  margin-left: 11em;
}
.dot::after{
  content: '';
  position: absolute;
  background-color: #FF543E;
  padding: 3px 3px;
  border-radius: 50%;
}
.nav-cart::after{
  content: '7';
  position: absolute;
  top: 10%;
  right: 0;
  font-size: 7px;
  background-color: #FF543E;
  color: #FFF;
  padding: 2px 5px;
  border-radius: 50%;
}
/* Bottom Header End */

/***************************************
============Home Top Banner=============
***************************************/
.homeTopBanner{
  background-image: url(../Assets/Images/HomeBody/1HomeTopBg.png);
  background-size: cover;
  background-position: center;
  max-height: 637px;
  width: 100%;
}
.homeTopBanner .homeTopBannerContent .homeTopBannerContentBottom .active{
  background-color: #380E86;
}
.homeTopBanner .homeTopBannerContent .homeTopBannerContentBottom .active small{
  color: white;
}


.homeTopBanner .homeTopBannerContent .homeTopBannerContentBottom1{
    background-color: white;
    width: 121px;
    height: 125px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s ease-out;
}
.homeTopBanner .homeTopBannerContent .homeTopBannerContentBottom1:hover{
  background-color: #380E86;
  transition: 0.5s ease-out;
}
.homeTopBanner .homeTopBannerContent .homeTopBannerContentBottom1 small{
  color: #380E86;
}
.homeTopBanner .homeTopBannerContent .homeTopBannerContentBottom1:hover small{
  color: white;
}
.homeTopBannerImage img{
  width: 100%;
}

/***************************************
=========End of Home Top Banner=========
***************************************/

/***************************************
=========Home Top Banner Bottom=========
***************************************/


.homeTopBannerBottom{
  height: 162px;
  box-shadow: 0px 13px 12px 4px #FBFCFF;
}

.homeTopBannerBottomContentImg{
  margin-right: 10px;
}
.homeTopBannerBottomContentText{
  line-height: 15px;
}
.homeTopBannerBottomContentText h6{
  font-weight: bold;
}

/***************************************
=======End Of Home Top Banner Bottom====
***************************************/


/***************************************
=========Home Popular Catagory=========
***************************************/

.homePopularCatagoryHeading a{
  text-decoration: none;
}
.homePopularCatagoryContent{
  height: 97px;
  background-color: #f9f9f9;
  box-shadow: 0px 3px 10px #E9EDF3;
  border-radius: 7px;
  cursor: pointer;
  /* transition: 7.5s ease; */
}

.homePopularCatagoryContent:hover{
  outline: 0.5px solid #8DB3DF;
  box-sizing: border-box;
  /* transition: 7.5s ease; */
}

/* 25/09 */
/*****
=========Home Popular Courses=========
*****/
.popularCourses {
  background-color: #E6F3FF;
}
/* Owl Carousel */

.owl-nav {
  position: absolute;
  top: 0;
  right: 0;
  margin: -60px 28px !important;
  font-size: 26px !important;
}


.card-height .card{
  border: 0 !important;
}
.card-height .card-img{
  height:213px;
  /* width: 390px; */
}
.card-height img{
  height: 100%;
  width: 100%;
}
.card-body-height {
  /* height: 167px; */
  border: 1px solid rgba(0,0,0,.125);
}


/* Home Popular Courses End  */
/**********************************************
================Home Featured Books===========
**********************************************/

.homeFeaturedCard{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.homeFeaturedBooksHeadingRight a{
  text-decoration: none;
}
.homeFeaturedCardTag a{
  text-decoration: none;
  color: #380E86;
  background-color: #D4D1FF;
  font-size: 9px;
  font-weight: 300;
  padding: 2px 10px;
  border-radius: 10px;
}
.homeFeaturedCard p{
  font-size: 10px;
  font-weight: 600;
  line-height: 25px;
}

.homeFeaturedCardButtonLeft{
  width: 153px;
  height: 35px;
  border-radius: 5px;
}
.homeFeaturedCardButtonLeft a{
  color: white;
  font-size: 12px;
}
.homeFeaturedCardButtonLeft a:hover{
  color: white;
}

.homeFeaturedCardButtonRight span{
  color: #BFBFBF;
  font-size: 10px;
  font-weight: 400;
}
.homeFeaturedCardButtonRight strike{
  display: flex;
  justify-content: end;
  color: #FE3745;
}
.homeFeaturedCardButtonRight h6{
  font-size: 16px;
  font-weight: 500;
}

.homeFeaturedCard::before{
  content: '50%';
  position: absolute;
  top: 10%;
  width: 61px;
  height: 44px;
  background-color: #380E86;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.homeFeaturedCard-img {
  height: 203px;
  /* width: 270px; */
}
.homeFeaturedCard-img img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
/****************************************
==============Whats New=================
***************************************/
.homeWhatsNew{
  width: 100%;

}
.homeWhatsNewcarousel-lm{
  /* max-width: 1200px; */
  /* margin: auto; */
  left: 16%;
}
.owl-dots{
  margin-left: 500px;
  margin-top: 40px;
}
.owl-dot{
  height: 5px;
  width: 66px;
  margin: 0 5px;
  outline: none;
  border-radius: 10px;
  background: #EFF5FF !important;
  transition: all 0.3s ease;
}
.owl-dot.active,
.owl-dot:hover{
  border: 2px solid #380E86!important;
}

/* Home Featured topics by category start*/
.featuredTopics{
  background-color: #E6F3FF;
 }
 .featuredTopics .nav-tabs{
  border: 0 !important;
}
.featuredTopics .nav-link{
  color: #858B9F !important;
  border: 0 !important;
}
.featuredTopics .nav-tabs .nav-link.active  {
  background-color: #380E86;
  color: white !important;
  border-radius: 7px;
}
 .topics-img-height{
  height:153px;
 }
 .topics-img-height img{
  height: 100%;
  width: 100%;
}
.topics-body-height{
  height:100px;
 }
.topics-body-height a{
  font-size: 10px;
  font-weight: 600;
  text-decoration: none;
}

/****************************************
=========Register Today=================
***************************************/
.homeRegisterToday{
  height: 70vh; 
  background-image: url(../Assets/Images/HomeBody/10Banner.png);
  background-color: #E6F3FF;
  background-size: cover;
  background-position: center;
  position: relative;
}
.homeRegisterTodayContent {
  position: absolute;
  top: 40%;
  right: 5%;
}
.homeRegisterTodayContent h2{
  color: #FFFF;
  font-weight: 600;
}
.homeRegisterTodayContent span{
  font-size: 36px;
  color: #ECBE6B;
  font-weight: 600;
}
.homeRegisterTodayContent p{
  color: #FFFF;
  font-weight: 300;
}
.homeRegisterTodayContent button{
  width: 181px;
  height: 45px;
  background-color: #FFD00D;
  color: white;
  border: none;
  border-radius: 5px;
}
/* Top rated teacher start*/
.topRatedTeacher .nav-tabs{
  border: 0 !important;
}
.topRatedTeacher .nav-link{
  color: #858B9F !important;
  border: 0 !important;
}
.topRatedTeacher .nav-tabs .nav-link.active  {
  background-color: #380E86;
  color: white !important;
  border-radius: 7px;
}

.topRatedTeacherSlider .card{
  border: none !important;
}
.topRatedTeacherSlider .card-body{
  border: 1px solid rgb(139, 168, 221);
  border-radius: 10px;
  margin-top: 50px;
  background-color: #F9F9F9;
}
.topRatedTeacherSlider .card-body .margin-top-minus{
  margin-top: -20%;
  height: 79px;
  width: 79px;
}
.topRatedTeacherSlider .card-body .margin-top-minus img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.topRatedTeacherSlider .col-lg-12{
  width: 95% !important;
}

.slick-prev::before,.slick-next::before{
  color: grey !important;
  font-size: 30px !important;
}
.slick-prev{
  top: 57% !important;
 left: -1.4% !important;
 z-index: 9999;
}
.slick-next{
  top: 57% !important;
  right: 9px !important;
}
.topRatedTeacherSlider button{
  border-radius: 7px;
}
.topRatedTeacherSlider button:hover{
  background-color: #380E86;
  color: white;
}
/****************************************
=============Instructor=================
***************************************/

.homeInstructorContent h4{
  font-weight: 600;
}
.homeInstructorContent p{
  color: #858b9f;
  font-size: 16px;
  font-weight: 300;
}
.homeInstructorContent button{
  width: 195px;
  height: 45px;
  color: white;
  border: none;
  border-radius: 5px;
}

/****************************************
=============Download App================
***************************************/
.homeDownloadApp{
  height: 80vh;
  background-image: url(../Assets/Images/HomeBody/12logo3.png);
  background-size: cover;
  background-position: center;
  position: relative;
}
.homeDownloadAppContent{
  position: absolute;
  top: 25%;
}

.homeDownloadAppContent span{
  color: #ffff;
  font-size: 16px;
  font-weight: 300;
}
.homeDownloadAppContent h2{
  color: #ffff;
  font-weight: 600;
}
.homeDownloadAppContent p{
  color: #ffff;
  font-size: 20px;
  font-weight: 300;
}
.downloadAppContentIcon{
  height: 54px;
  width: 178px;
  background-color: #000;
  border-radius: 5px;
}
.downloadAppContentIcon a{
  text-decoration: none;
}
.downloadAppContentIcon p{
  font-size: 16px;
  color: #ffff;
  font-weight: 500;
  line-height: 15px;
}
.downloadAppContentIcon span{
  font-size: 12px;
  color: #858b9f;
  font-weight: 300;
}


/****************************************
=============Subscribe================
***************************************/
.homeSubscribe{
  background-color: #F8F8FF;
  padding: 80px 0;
  position: relative;
}
.homeSubscribeImg{
  position: relative;
}
.homeSubscribeBanner{
  width: 100%;
}
.homeSubscribeContent{
  position: absolute;
  top: 30%;
  left: 35%;
}

.homeSubscribeContentButton {
  display: inline-block;
  position: relative;
}
.homeSubscribeContentButton button {
  background-color: #ffff;
  color: #380E86;
  font-weight: 500;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position:absolute;
  right: 0;
  top: 0;
  bottom:0;
  width: 147px;
  height: 45px;
}
.homeSubscribeContentButton input {
  width: 445px;
  height: 45px;
  border: none;
  outline: none;
  background-color: #7C6DE4;
  border-radius: 10px;
  color: #ffff;
  padding: .5em 3.5em .5em .5em;
}
::-webkit-input-placeholder{
  color: rgb(201, 201, 201);
  font-weight: 200;
}

/***********Polygon************/
.homeSubscribePolygonImg {
  width: 150px;
  height: 150px;
  position: absolute;
  margin: -5% 0 10% -3%;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.polygon2Img{
  margin: -8% 0% 0% 92%;
}



/****************************************
===============Footer==================
***************************************/
.footer{
  background-color: #252C41;
  padding: 50px 0;
}
.footerHeading{
font-size: 18px;
font-weight: 400;
color: #ffff;
}
.footerContent{
font-size: 13px;
font-weight: 300;
color: #858B9F;
}
.footerContent a{
  text-decoration: none;
  color: #858B9F;
}
.footerContentFiveApp i{
  color: #6C63FF;
}
.footerAppContent{
  background-color: #252C41;
  border: 0.5px solid #858B9F;
}
.CopyRight{
  background-color: #1B2132;
  padding: 20px 0;
}
.copyRightContentLeft{
  color: #858B9F;
}
.copyRightContentRight a{
  color: #858B9F;
}


/****************************************
=============Single Catagory================
***************************************/

.singleCtagoryRight1Catagory ul{
  width: 186px;
  background-color: #F5F5F5;
  border: 1px solid #95A0B0;
  border-radius: .25rem;
}

.singleCtagoryLeft1{
  width: 270px;
  height: 90px;
  border: 0.5px solid #95A0B0;
  border-radius: 10px;
}
.singleCtagoryLeft1 input{
  height: 45px;
  background: #F9FBFF;
  padding: 0 15px;
  border: 0.5px solid #95A0B0;
  border-radius: 7px;
  outline: none;
}

.singleCtagoryLeft2{
  width: 270px;
  height: 159px;
  border: 0.5px solid #95A0B0;
  border-radius: 10px;
}

.singleCtagoryLeft2Inputrange {
  width:200px;
  height:6px;
  border-radius: 4px;
  background-color: #ddd;
  position: relative;
}

.singleCtagoryLeft2Inputrange__button_1, .singleCtagoryLeft2Inputrange__button_2 {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  cursor: move;
  transform: translateY(-50%);
  border: none;
  border-radius: 50%;
  background-color: #380E86;
}
.singleCtagoryLeft2Inputrange__between
{
  height: 5px;
  width:0px;
  margin-top:3px;
  border: none;
  background-color: #380E86;
}
.singleCtagoryLeft2Inputrange_inpt1, .singleCtagoryLeft2Inputrange_inpt2
{
  width: 108px;
  height: 45px;
  border: 0.5px solid #95A0B0;
  border-radius: 7px;
}


.singleCtagoryLeft3{
  width: 270px;
  height: 251px;
  border: 0.5px solid #95A0B0;
  border-radius: 10px;
}


/*Pagination*/

.pagination ul {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #fff;
  padding: 8px;
  
  }
  .pagination ul li {
      color: #000;
      list-style: none;
      line-height: 45px;
      text-align: center;
      font-size: 18px;
      font-weight: 500;
      cursor: pointer;
      user-select: none;
      transition: all 0.3s ease;
  }
  .pagination ul li.numb{
      list-style: none;
      height: 45px;
      width: 45px;
      margin: 0 3px;
      line-height: 45px;
      border-radius: 10%;
  }
  .pagination ul li.numb.first {
      margin: 0px 3px 0 -5px;
  }
  .pagination ul li.numb.last{
      margin: 0px -5px 0 3px;
  }
  .pagination ul li.dots {
      font-size: 22px;
      cursor: default;
  }
  .pagination ul li.btn{
      padding: 0 20px;
      /* border-radius: 10px; */
  }
  .pagination li.active,
  .pagination ul li.numb:hover,
  .pagination li:first-child:hover,
  .pagination ul li:last-child:hover{
      color: #fff;
      background: #380E86;
  }



  /*************All Courses***********/
  .allCoursescheckbox{
    width: 270px;
    /* height: 419px; */
    border: 0.5px solid #95A0B0;
    box-sizing: border-box;
    border-radius: 10px;
  }


  
/* Single Courses start */

.sCtop-img {
  height: 330px;
}
.sCtop-img img{
  height: 100%;
  width: 100%;
}
.social-btn {
  height: 36px;
}
.social-btn a{
  display: block;
  height: 36px;
  width: 36px;
  text-align: center;
  background: white;
  border-radius: 25%;
  text-decoration: none;
  border: 1px solid rgb(192, 184, 184);
}
.social-btn i{
  font-size: 14px;
  line-height: 35px;
}
.list-inline{
  padding-left: 0;
  list-style: none;
}
.list-inline-item {
  display: inline-block;
}

.middle-heading .mh-img {
  height: 40px;
  width: 40px;
}
.middle-heading .mh-img img {
  height: 100%;
  width: 100%;
}
.middle-heading p {
  font-size: 10px;
  font-weight: 300px;
  color: #98A6C0;
}
.middle-heading-border {
  border-bottom:1px dashed #858B9F
}

.single-course-mid li{
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
  color: black;
}

.single-Course-mid-2  .nav-tabs{
  border: 0 !important;
}
.single-Course-mid-2  .nav-link{
  color: #858B9F !important;
  border: 0 !important;
}
.single-Course-mid-2  .nav-tabs .nav-link.active  {
  color: #380E86 !important;
  font-weight: 600;
  border-bottom: 2px solid #380E86 !important;
}
.tab-content p{
 font-size: 14px;
 line-height: 20px;
}

/* FAQ */
.accordion-button:not(.collapsed) {
  color: #f4f7fb;
  background-color: #380e86;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
  border-radius: 0px 0px 20px 20px;
}
/* Arrow icon Change */
/* .accordion-button:not(.collapsed)::after {
  background-image: url("https://images.unsplash.com/photo-1497005367839-6e852de72767?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1167&q=80");
  transform: rotate(
-180deg);
} */

.singleCourseBottom-img {
  height: 80px;
  width: 80px;
}

.singleCourseBottom-img img {
  height: 100%;
  border-radius: 50%;
}
/* Single Courses end*/


/**************Card Overlay****************/
.booksCard{
  position: relative;
  transition: 0.5s;
}
.cardOverlay{
  /* width: 189px; */
  height: 45px;
  color: #380E86;
  background-color: white;
  border-radius: 10px;
  margin: 0 auto;
  position: absolute;
  top: 65%;
  left: 25%;
  opacity: 0;
  transition: 0.5s;
  cursor: pointer;
}
.booksCard:hover .cardOverlay{
  opacity: 1;
  transform: translateY(-70px);
  transition: 0.5s;
}


/***************Author*************/
.authorCard{
  border: none;
  box-shadow: 0px 0px 8px #DADFE7;
  border-radius: 20px;
}

.authorCardContent p{
  line-height: 30px;
}
.authorIcon i{
  color: grey;
}

.authorBottom .nav-tabs{
  border: 0 !important;
}
.authorBottom .nav-link{
  background-color: #EDF0F5;
  color: #95A0B0;
  border-radius: 7px;
}
.authorBottom .nav-tabs .nav-link.active  {
  background-color: #380E86;
  color: white !important;
  border-radius: 7px;
}

.authorContact .table>:not(caption)>*>* {
  padding: 10px 0px 15px 0px !important;
}


/* Single Book Start*/
.table-setup {
  color: #98A6C0;
}
.table-setup .badge {
  font-size: 14px;
}
.single-book .table>:not(caption)>*>* {
  padding: 21px 0px 17px 21px !important;
}
.table-badge-bg {
  background-color: #E8DCFF;
}
.single-book  .nav-tabs{
  border: 0 !important;
}
.single-book  .nav-link{
  color: #858B9F !important;
  border: 0 !important;
}
.single-book  .nav-tabs .nav-link.active  {
  color: #380E86 !important;
  font-weight: 600;
}

/* Counter */

.button-inDecrement button{
	width: 42px;
	height: 43px;
  border: none;
	color: grey;
  background-color:white;
	cursor: pointer;
  padding: 0;
}

#sub{
  border: 1px solid rgb(211, 204, 204);
 border-radius: 10px 0px 0px 10px;
 margin-right: -5px;
}
#add {
  border: 1px solid rgb(211, 204, 204);
 border-radius: 0px 10px 10px 0px;
 margin-left: -5px;
}

.button-inDecrement button:active{
	box-shadow: inset 2px 2px 2px rgba(240, 234, 234, 0.1),
				inset -2px -5px 15px rgba(190, 185, 185, 0.5);
}
.button-inDecrement input{
  height: 44px;
	width: 42px;
	text-align: center;
	background-color: #380E86;
  color: white;
  border: none;
  border-radius: 2.7px;
}
/* Single Book End*/

/* My course start */
.mixItUpContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.mixItUpContent .mix {
  width: 25%;
  margin-bottom: .5rem;
}
.mixItUpbtn{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.mixItUpbtn button{
 padding: 10px 25px;
 margin: 10px 10px 10px 0px;
 border: none;
 border-radius: 10px;
 background-color: transparent;
 color: #98A6C0;
 font-size: 16px;
 font-weight: 500;
 text-transform: capitalize;
 letter-spacing: 1px;
 cursor: pointer;
}

.mixItUpbtn button.mixitup-control-active{
  background: #380e86;
  color: white;
  cursor:pointer;
}

.videoStart .videoBody {
  position: relative;
  height: 213px;
  width: 314px;
  }
  .videoStart .videoBody .videoBody-video video {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(27, 26, 26);
  border-radius: 10px 10px 0px 0px;
  }
  .videoStart .videoBody .videoBody-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  z-index: 1;
  background-size: cover !important;
  background-position: center center !important;
  }
  .videoBtn {
    position: absolute;
    z-index: 9999;
    top: 62%;
    left: 82%;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background-color: #6C63FF;

  }

  .videoBtn a i{
    font-size: 14px;
  }
  .videoBtn a.playhtmlvid {
    color: white;
  }
  .videoBtn a.pausehtmlvid {
    color: white;
    display: none;
  }
  /* My course end */


/****************************************
=============== Student ================
***************************************/
.accSet h5 {
  font-size: 20px;
}

.std-profile .nav-tabs{
  border: 0 !important;
}
.std-profile .nav-link{
  color: #98A6C0 !important;
  border: 0 !important;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
}
.std-profile .nav-tabs .nav-link.active  {
  background-color: #380E86;
  color: white !important;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
}

.std-leftTab {
  background-color: #F9F9F9;
  border-radius: 7px;
}
.std-leftTab nav {
  padding: 5% 1% 5% 1%;
}


.studentProfileImg{
  height: 150px;
  width: 150px;
}
.studentProfileImg img{
  height: 100%;
  width: 100%;
}

.studentProfileDetailsTopRight button{
  height: 45px;
  border-radius: 10px;
}
.studentProfileDetailsTopRight i{
  color: rgba(255, 255, 255, 0.918);
}

.studentProfileDesc{
  border: 0.5px solid #E9EDF3;
  box-sizing: border-box;
  border-radius: 7px;
}

.studentProfileDesc p{
  line-height: 30px;
}





.paymentHistoryInput input{
  padding: 0 20px;
  height: 35px;
  border: 0.5px solid #98A6C0;
  border-radius: 7px;
  outline: none;
}
.paymentHistoryInput .input1{
  width: 149px;
}
/* .paymentHistoryInput .input2{
  width: 100px;
} */

.paymentHistoryList .table>:not(caption)>*>* {
  padding: 10px 0px 15px 0px !important;
}


.pass-hU {
  position: relative;
}
.pass-hU i {
  position: absolute; 
  top: 30%; 
  right:5%
}
.pass-hU p {
  font-size: 14px;
  font-weight: 300px;
  color: #380E86;
  position: absolute;
  top:0;
  right: 6%;
  cursor: pointer;
}
.pass-hU .form-control{
  background-color: #E9EDF3;
}

.saved-method p {
  font-size: 12px;
  font-weight: 500;
}
.saved-method .box-1 {
  border:  1px solid #380E86;
  border-radius: 10px;
}
.saved-method .box-1inner {
  margin: 15px;
}
.saved-method .box-1inner p {
  margin: 0;
}
.box-1img {
  height: 28px;
  width: 44px;
}
.box-1img img {
  height: 100%;
  width: 100%;
}

.content2{
  display: none;
}
.content3{
  display: none;
}

.phoneHideContent{
  display: none;
}
.emailHideContent{
  display: none;
}



/*****Student Profile Hide**************/
.pcontent2 {
  display: none;
}

.file-upload {
  background-color: #F6F7F9;
  border-radius: 10px;
  width: 60%;
  margin: 0 auto;
  padding: 7px;
  position: relative;
}
.file-upload i {
  font-size: 40px;
}
.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin: 20px;
  border: 2px dashed #98A6C0;
  position: relative;
}

.drag-text {
  text-align: center;
  margin: 5%;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 230px;
  margin: 0;
  color: #fff;
  background: #cccbd7;
  border: none;
  border-radius: 5px;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}


/*****************Course Playlist*********************/

.courseProgressDiv{
  background: #F3F8FF;
  height: 438px;
  overflow-y: scroll;
}
.courseProgress{
  box-shadow: 0px 0px 10px #E9EDF3;
  border-radius: 7px;
}

.courseProgressContentleft1{
  height: 51px;
  width: 51px;
  border-radius: 50%;
  /* background: #78C2A4; */
}

::-webkit-scrollbar{
  width: 0;
}



.coursePlaylist .nav-tabs{
  border: 0 !important;
}
.coursePlaylist .nav-link{
  color: #98A6C0 !important;
  border: 0 !important;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
}
.coursePlaylist .nav-tabs .nav-link.active  {
  /* background: #F3F8FF; */
  color: #380E86 !important;
  border-radius: 7px 7px 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
}


.pull-right{
  float:right;
}
.pull-left{
  float:left;
}
#fbcomment{
  background:#F3F8FF;
  border-radius: 3px;
  color: #4b4f56;
  padding:50px;
}

.body_comment{
  padding: 0 8px;
  font-size: 14px;
  display: block;
  line-height: 25px;
  word-break: break-word;
}
.avatar_comment{
  display: block;
}
.avatar_comment {
  height: 48px;
  width: 48px;
}
.avatar_comment img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.box_comment{
  display: block;
  position: relative;
  word-wrap: break-word;
  background: #fff;
  box-sizing: border-box;
  cursor: text;
  border-radius: 7px;
  font-size: 16px;
}
.box_comment textarea{
	min-height: 40px;
	padding: 12px 8px;
	width: 100%;
	border: none;
	resize: none;
}
.box_comment textarea:focus{
  outline: none !important;
}
.box_comment .box_post{
	border-top: 1px solid #d3d6db;
  background: #f5f6f7;
  padding: 8px;
  display: block;
  overflow: hidden;
}
.box_comment label{
  display: inline-block;
  vertical-align: middle;
  font-size: 11px;
  color: #90949c;
  line-height: 22px;
}
.box_comment button{
  margin-left:8px;
  background-color: #4267b2;
  border: 1px solid #4267b2;
  color: #fff;
  text-decoration: none;
  line-height: 22px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  text-align: center;
}
.box_comment button:hover{
  background-color: #29487d;
  border-color: #29487d;
}
.box_comment .cancel{
	margin-left:8px;
	background-color: #f5f6f7;
	color: #4b4f56;
	text-decoration: none;
	line-height: 22px;
	border-radius: 2px;
	font-size: 14px;
	font-weight: bold;
	position: relative;
	text-align: center;
  border-color: #ccd0d5;
}
.box_comment .cancel:hover{
	background-color: #d0d0d0;
	border-color: #ccd0d5;
}
.box_comment img{
  height:16px;
  width:16px;
}
.box_result{
  margin-top: 24px;
}
.box_result .result_comment h4{
  font-weight: 600;
  white-space: nowrap;
  color: #365899;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.358;
  margin:0;
}
.box_result .result_comment{
  display:block;
  overflow:hidden;
  padding: 0;
}
.child_replay{
	margin-top: 12px;
	list-style: none;
	padding:0 0 0 8px
}
.reply_comment{
	margin:12px 0;
}
.box_result .result_comment p{
  margin: 4px 0;
  text-align:justify;
}
.box_result .result_comment .tools_comment{
  font-size: 12px;
  line-height: 1.358;
}
.box_result .result_comment .tools_comment a{
  color: #4267b2;
  cursor: pointer;
  text-decoration: none;
}
.tools_comment span{
  color: #90949c;
}

/* Active */

.cursor.active {
  color: #380E86;
  font-weight: 800;
}



/* test */

